@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Sans'), url('../../public/assets/fonts/FiraSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: normal;
  src: local('Fira Sans'), url('../../public/assets/fonts/FiraSans-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Fira Sans'), url('../../public/assets/fonts/FiraSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Fira Sans'), url('../../public/assets/fonts/FiraSans-LightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Fira Sans'), url('../../public/assets/fonts/FiraSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Fira Sans'), url('../../public/assets/fonts/FiraSans-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Fira Sans'), url('../../public/assets/fonts/FiraSans-SemiBold.woff') format('woff');
}
/* 
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: bold;
  src: local('Fira Sans SemiBold Italic'), url('../../public/assets/fonts/FiraSans-SemiBoldItalic.woff') format('woff');
} */

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Fira Sans'), url('../../public/assets/fonts/FiraSans-Bold.woff') format('woff');
}
/* 
@font-face {
  font-family: 'Fira Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Fira Sans SemiBold Italic'), url('../../public/assets/fonts/FiraSans-BoldItalic.woff') format('woff');
} */
