ion-content {
  --padding-top: 1em;
  --padding-bottom: 1.5em;
}

ion-content::part(scroll) {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

ion-list {
  width: 100%;
}

ion-list ion-avatar {
  border: solid 1px var(--ion-color-light-shade);
  background: var(--ion-color-light);
}

ion-content.pageHome::part(scroll) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ksk-capitalize {
  text-transform: capitalize;
}
