.ksk-toolbar {
  height: 64px;
  --min-height: 64px;
  padding: 12px 0 0;
  text-align: center;
  box-shadow: 0 0.125em 0.5em rgba(var(--ion-color-dark-rgb), 0.125),
    0 0.25em 0.75em rgba(var(--ion-color-dark-rgb), 0.125);
}

.ksk-toolbar-title {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

.ksk-toolbar-logo {
  display: inline-block;
  height: 48px;
  width: auto;
  margin: 8px 0 0;
  object-fit: contain;
  vertical-align: middle;
}
