ion-card {
  --ion-background-color: white;
  --ion-background: white;
}

ion-card-title {
  font-size: 2em;
  color: var(--ion-color-dark);
  font-weight: 600;
}

ion-card-subtitle {
  display: inline-block;
  background: var(--ion-color-tertiary);
  color: var(--ion-color-tertiary-contrast);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  font-size: 0.875em;
  text-transform: uppercase;
}

ion-card ion-card-content.card-content-md,
ion-card ion-card-content.card-content-ios {
  font-size: 16px;
}

ion-card ion-card-content.card-content-md h2,
ion-card ion-card-content.card-content-ios h2,
ion-card ion-card-content.card-content-md h3,
ion-card ion-card-content.card-content-ios h3 {
  margin-top: 1.25em;
}

ion-card ion-card-content.card-content-md h2,
ion-card ion-card-content.card-content-ios h2 {
  color: var(--ion-color-secondary-shade);
  font-size: 1.375em;
}

ion-card ion-card-content.card-content-md h3,
ion-card ion-card-content.card-content-ios h3 {
  color: var(--ion-color-medium-shade);
  font-size: 1em;
  text-transform: uppercase;
  border-bottom: solid 1px var(--ion-color-tertiary-shade);
  margin-bottom: 0.5em;
}

ion-card ion-card-content.card-content-md p,
ion-card ion-card-content.card-content-ios p {
  margin-bottom: 8px;
}

p.subtle {
  opacity: 0.75;
  margin-top: 2em;
  font-size: 0.75em;
  color: var(--ion-color-dark-tint);
}

p.subtle strong {
  font-weight: 600;
}

ion-list.simple,
ion-list.list-md,
ion-list.list-ios {
  margin: 1em 0;
  padding-top: 0;
  padding-bottom: 0;
}

ion-item.simple {
  --padding-top: 0.5em;
  --padding-bottom: 0.5em;
  --padding-start: 0.125em;
  --min-height: auto;
  font-size: 0.875em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

ion-item.simple ion-label,
ion-item.simple.item .sc-ion-label-md-h,
ion-item.simple.item .sc-ion-label-ios-h {
  margin-top: 0;
  margin-bottom: 0.5em;
  white-space: normal;
}
