.lastLine {
  text-align: center;
  opacity: 0.75;
}

.lastLine .logo {
  margin: 0.5em 0;
  opacity: 0.75;
  object-fit: contain;
  height: 36px;
}

.lastLine .words {
  color: var(--ion-color-medium-shade);
  font-size: 0.75em;
  margin-bottom: 0.25em;
}

.lastLine .words ion-router-link {
  border-bottom: solid 1px rgba(var(--ion-color-primary-rgb), 0.25);
}
